<% tweets.each do |tweet| %>
<div class="row list-group-item tweet_info">
  <h4 class="list-group-item-heading">
      <% if common_page %>
        <%= link_to "#{fa_icon 'user-circle'}".html_safe, twitter_user_path(tweet.user_id)  %>
      <% end %>
    <%= link_to tweet.user.name, 
      "https://twitter.com/#{tweet.user.name}", target: "_blank" 
    %> 
    <small class="list-group-item-text"> 
      @<%= tweet.user.screen_name %>
    </small>
  </h4>
  
  <p class="list-group-item-text text-danger">
    <%= tweet.text.gsub(/(https?:\/\/\S+)/, 
      "#{link_to '\1', '\1', target: "_blank"}" ).html_safe %>
  </p>

  <% if tweet.is_quote? %>
    <blockquote class="blockquote list-group-item-text">
      <p class="mb-0">Quoted: 
        <em><%= tweet.quoted_text.gsub(/(https?:\/\/\S+)/, 
          "#{link_to '\1', '\1', target: "_blank"}" ).html_safe %></em>
      </p>
    </blockquote>
  <% end %>
	<ul class="list-group-item-text list-inline small">
    <li><span class="label label-info">
          <%= tweet.is_retweet? ? "Retweet" : "Tweet" %>
        </span>
    </li>
    <li><span class=""><%= fa_icon 'camera' %> <%= tweet.media.count %></span></li>
    <% if source = get_tweet_source(tweet) %>	
      <li><span class="">
          <%= link_to "Source #{fa_icon 'external-link'}".html_safe, source , 
              target: "_blank" %>
          </span>
      </li>
    <% else %>
      <li class="gray"><span class="">Source: Unavailable</span></li>
    <% end %>
  </ul>

  <p class="list-group-item-text small">
    <span class="gray">
      Deleted at: <%= tweet.deleted_at.strftime("%m/%d/%Y %H:%M:%S") %> |
    </span>  
    <span class="gray">
      Tweeted at: <%= tweet.created_at.strftime("%m/%d/%Y %H:%M:%S") %>
    </span>
  </p>
</div>
<% end %>
