<% tweets.each do |tweet| %>
<div class="row list-group-item tweet_info">
  <h4 class="list-group-item-heading">
    <%= link_to tweet.name, 
      "https://twitter.com/#{tweet.screen_name}", target: "_blank" %> 
    <small class="list-group-item-text"> @<%= tweet.screen_name %> </small>
  </h4>

  
  <p class="list-group-item-text text-danger">
    <%= tweet.text.gsub(/(https?:\/\/\S+)/, "#{link_to '\1', '\1', target: "_blank"}" ).html_safe%>
  </p>

  <p class="list-group-item-text small">
    <span>Deleted at: <%= tweet.deleted_at.strftime("%m/%d/%Y %H:%M:%S") %> |</span>  
    <span>Tweeted at: <%= tweet.tweeted_at.strftime("%m/%d/%Y %H:%M:%S") %></span>
  </p>
</div>
<% end %>
