<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "0_0", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Watch List", '#' %></il>
        <li><%= link_to "Deleted Twits", '#' %></il>
        <li><%= link_to "Log Out", '#' %></il>
        <li><%= link_to "Sign Up", signup_path %></il>
      </ul>
    </nav>
  </div>
</header>
